:root {
  /*  PRIMARY COLOURS */
  --Green200-lighter: #dff1e7;
  --Green-600-medium: #0c7d69;
  --green-800-dark: #084e41;
  --Red: #d73c3c;

  /* NEUTRAL COLOURS */

  --White: #ffffff;
  --Grey500-medium: #87a3a6;
  --Grey900-darker: #2b4246;

  /* FONT FAMILY && SIZE && BORDERS */
  --fontFamily: "Karla", sans-serif;
  --font16: 16px;
  --borderInputs: 6px;

  /* TRANSITION ::AFTER */
  --transitions: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

code {
  color: var(--Green-600-medium);
}

label {
  font-size: 1rem;
}

body .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: var(--Green200-lighter);
}

.error-required {
  color: var(--Red);
  display: none;
  font-size: 0.9rem;
}

.error-required-show {
  display: block;
}

.container .message-container {
  display: none;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
  top: 40px;
  width: 220px;
  background-color: var(--Grey900-darker);
  color: var(--White);
  padding: 1rem;
  border-radius: 0.8rem;
  transition: scale 0.3s ease;

  @starting-style {
    scale: 0;
  }
}

.container .message-container .img-message {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.container .message-container .img-check {
  border: 1px solid var(--White);
  border-radius: 50%;
  padding: 2px;
}

.container .message-container .message-paragraph {
  font-size: 0.9rem;
  color: var(--Grey500-medium);
}

.container .form-container {
  margin: 40px auto;
  width: 90%;
  max-width: 310px;
  height: 100%;
  border-radius: calc(var(--borderInputs) * 4);
  background-color: var(--White);
  padding: 1em 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Grey900-darker);
  gap: 1.2rem;
}

.container .form-container .form-title {
  align-self: baseline;
}

.container .form-container .form-group .ul-containers {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container .form-container .form-group .ul-containers .label-containers,
.container .form-container .form-group .ul-containers .label-for-names {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.7rem;
}

.container .form-container .form-group .ul-containers .label-for-names {
  gap: 1.5rem;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-for-names
  .li-names {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .form-input,
.container
  .form-container
  .form-group
  .ul-containers
  .label-for-names
  .li-names
  .form-input {
  outline: none;
  font-size: var(--font16);
  border-radius: var(--borderInputs);
  border: 1px solid var(--Grey500-medium);
  height: 40px;
  padding: 5px 20px;
  cursor: pointer;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .form-input:hover,
.container
  .form-container
  .form-group
  .ul-containers
  .label-for-names
  .li-names
  .form-input:hover {
  border: 1.4px solid #0c7d69;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .checkboxs:hover {
  cursor: pointer;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .queryTitle {
  font-size: var(--font16);
  font-weight: 400;
  margin-bottom: 0.4em;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .container-flex {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .container-flex
  .container-checkbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .container-flex
  .container-checkbox
  .checkboxInput {
  display: none;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .container-flex
  .container-checkbox
  .enquiry {
  --background-enquiry: #ffffff;
  border: 1px solid var(--Grey500-medium);
  border-radius: var(--borderInputs);
  padding: 0.7rem;
  position: relative;
  padding-left: 50px;
  transition: var(--transitions);
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .container-flex
  .container-checkbox
  .enquiry::after {
  content: "";
  outline: 1px solid var(--Grey500-medium);
  border: 3px solid var(--White);
  background-color: var(--background-enquiry);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 30%;
  transition: var(--transitions);
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .container-flex
  .container-checkbox
  .support {
  --background-support: #ffffff;
  border: 1px solid var(--Grey500-medium);
  border-radius: var(--borderInputs);
  padding: 0.7rem;
  position: relative;
  padding-left: 50px;
  transition: var(--transitions);
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .container-flex
  .container-checkbox
  .support::after {
  content: "";
  outline: 1px solid var(--Grey500-medium);
  border: 3px solid var(--White);
  background-color: var(--background-support);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 30%;
  transition: var(--transitions);
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers
  .textArea {
  resize: none;
  height: 200px;
  border-radius: var(--borderInputs);
  outline: none;
  font-size: 16px;
  padding: 16px 18px;
  line-height: 1.4;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers-consent {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers-consent
  .consent-container {
  display: flex;
  gap: 1.2rem;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers-consent
  .consent-container
  .input-consent {
  appearance: none;
  padding: 0.5em;
  outline: 1px solid var(--Grey500-medium);
  width: 1.3em;
  height: 1.2em;
  align-self: center;
  border: var(--borderInputs);
  transition: all 0.3s linear;
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers-consent
  .consent-container
  .input-consent:checked {
  background-color: #0c7d69;
  background-image: url(assets/images/check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid var(--Green-600-medium);
}

.container
  .form-container
  .form-group
  .ul-containers
  .label-containers-consent
  .consent-container
  .label-consent {
  cursor: pointer;
}

.container .form-container .form-group .form-button {
  width: 100%;
  padding: 12px 20px;
  background-color: var(--Green-600-medium);
  color: var(--White);
  font-weight: 700;
  border-radius: var(--borderInputs);
  cursor: pointer;
  text-align: center;
  margin-top: 1.8em;
  border: none;
  box-shadow: 3px 3px 5px var(--green-800-dark);
}

.container .form-container .form-group .form-button:hover {
  background-color: var(--green-800-dark);
}

/* MEDIA QUERYS 768px */

@media (min-width: 768px) {
  .container .message-container {
    gap: 0.7rem;
    top: 50px;
    width: 400px;
    padding: 1.4rem 1.2rem;
  }

  .container .form-container {
    width: 90%;
    display: inline-block;
    max-width: 650px;
    padding: 2em 2.2em;
  }

  .container .form-container .form-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .container .form-container .form-group .ul-containers .label-for-names {
    flex-direction: row;
  }

  .container
    .form-container
    .form-group
    .ul-containers
    .label-for-names
    .li-names {
    width: 100%;
  }

  .container
    .form-container
    .form-group
    .ul-containers
    .label-containers
    .container-flex {
    flex-direction: row;
  }

  .container .form-container .form-group .ul-containers .label-for-names {
    gap: 0.8rem;
  }

  .container
    .form-container
    .form-group
    .ul-containers
    .label-containers
    .textArea {
    height: 100px;
  }
}
